[tool.poetry]
name = "xleapp"
version = "0.2.1"
description = "Multiplaform Logs, Events, And Plists Parser"
authors = ["Jesse Spangenberger <azuleonyx@digitalforensics.io>"]
license = "MIT"

readme = "README.md"

homepage = "https://github.com/flamusdiu/xleapp"
repository = "https://github.com/flamusdiu/xleapp"
documentation = "https://github.com/flamusdiu/xleapp"

keywords = ["forensics", "dfir", "security", "framework"]

classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.9",
  "Topic :: Security",
  "Topic :: Utilities",
  "Typing :: Typed"
]


[tool.poetry.dependencies]
python = ">=3.9,<3.11"
Jinja2 = "^3.1.2"
prettytable = "^3.3.0"
python-magic-bin = "^0.4.14"
simplekml = "^1.3.6"
wrapt = "^1.14.1"
PySimpleGUI = "^4.60.1"
PyYAML = "^6.0"

[tool.poetry.dev-dependencies]
flake8 = "^4.0.1"
flake8-bandit = "^3.0.0"
flake8-bugbear = "^22.7.1"
flake8-commas = "^2.1.0"
flake8-comprehensions = "^3.10.0"
flake8-docstrings = "^1.6.0"
flake8-isort = "^4.1.1"
flake8-mutable = "^1.2.0"
flake8-quotes = "^3.3.1"
flake8-variables-names = "^0.0.5"
mypy = "^0.961"
pyinstaller = "^5.1"
types-PyYAML = "^6.0.9"
black = "^22.6.0"
types-Jinja2 = "^2.11.9"
flakeheaven = "^2.0.0"
flake8-builtins = "^1.5.3"
flake8-eradicate = "^1.2.1"
pep8-naming = "^0.13.0"
darglint = "^1.8.1"

[tool.poetry.scripts]
xleapp = "xleapp.__main__:cli"

[tool.flakeheaven]
# exclude chat_rendering.py until tested/fixed
extended_default_ignore=["chat_rendering.py"] 
format = "grouped"
max_line_length = 90
show_source = true
docstring-convention = "google"
inline_quotes = "double"
max_complexity = 13

# D107: don't need docstrings for __init__ method of classes. 
#       Infavor of documenting at the top of classes instead of inside __init__ methods.
# D203: 1 blank line required before class docstring.
# E203: Whitespace before ":"
# E611: No name %r in module %r
# E1101: %s %r has no %r member
# E401: Multiple imports on one line
# E1102: %s is not callable
# E1123: Passing unexpected keyword argument %r in function call
# F401: Module imported but unused.
# W503: Line breaks should occur after the binary operator to keep 
#       all variable names aligned. Disabled infavor of W504 (PEP8 updates)
# Q000: Remove bad quotes
[tool.flakeheaven.plugins]
flake8-bandit = ["+*"]
flake8-bugbear = ["+*"]
flake8-builtins = ["+*"]
flake8-commas = ["+*"]
flake8-comprehensions = ["+*"]
flake8-darglint = ["+*"]
flake8-docstrings = ["-+*", "-D107"]
flake8-eradicate = ["+*"]
flake8-isort = ["+*"]
flake8-mutable = ["+*"]
flake8-quotes = ["+*", "-Q000"]
flake8-variables-names = ["+*"]
mccabe = ["+*"]
pep8-naming = ["+*"]
pycodestyle = ["+*", "-D203", "-W503", "-E501", "-E203"]
pyflakes = ["+*"]
pylint = ["+F*", "+E*", "-E0611", "-E1101", "-E0401", "-E1102", "-E1123"]

[tool.flakeheaven.exceptions."**/__init__.py"]
pyflakes = ["-F401", "-E501"]

[tool.flakeheaven.exceptions."**/gui/__init__.py"]
mccabe = ["-C901"]

[tool.flakeheaven.exceptions."**/types.py"]
pyflakes = ["-F401"]

[tool.isort]
profile = "black"
atomic = true
lines_after_imports = 2
lines_between_types = 1
use_parentheses = true
line_length = 90
include_trailing_comma = true
skip = [".eggs",
        ".git",
        ".venv",
        "_build"]
src_paths = "src"

[tool.black]
line_length = 90
include = '\.pyi?$'
target_version = ["py39"]
exclude = '''
/(
    | \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
)/
'''

[tool.mypy]
python_version = 3.9
strict_optional = true

[[tool.mypy.overrides]]
module = [
  "PySimpleGUI",
  "simplekml",
  "prettytable",
  "wrapt",
  "magic"
]
ignore_missing_imports = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

