{% extends 'base.jinja' %}
{% from 'macros.jinja' import table %}
{% block title%}{{name}}{% endblock %}
{% block report_data %}
            <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="display-5">{{name}}</h1>
                <h6 class="animated fadeIn mb-3">{{description}}</h6>
            </div>
            <h6>Total number of entries: {{ entries }}</h6>
            <p class="lead">{{ name }} located at {{ location }}</p>
{# Prints out each table of data #}
{% if data is mapping %}
    {% set count = namespace(value=0) %}
    {% for table_data in data.items() %}
        {% set table_headers = headers[count] %}
        {{ table(table_headers, table_data) }}
        {% set count.value = count.value + 1 %}
    {% endfor %}
{% else %}
    {{ table(headers, data) }}
{% endif %}

{% endblock %}